*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    max-width: 1200px;
}
.navigation{
    width: 100%;
    height: auto;
}
.nav{
    width: 100%;
    height: 20%;
}
.nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.nav li{
    list-style: none;
}
.nav a span{
    color: white;
    text-decoration: underline;
}
.nav a span:hover{
    color:red;
}
.body-container{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.body{
    width: 100%;
    height: 100%;
    background-image: url("coding.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body h1{
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    text-align: center;
}
.body h3{
    font-size: 2rem;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
    width: 100%;
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button button{
    padding: 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    border: none;
    margin: 20px;
    cursor: pointer;
}
.button button:hover{
    background-color: rgba(255, 0, 0, 0.412);
}
.languages-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0 0 ;
}
.language{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.image{
    width: 100%;
    height: 60%;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.text,.head{
    width: 100%;
    height: 20%;
}
.head h1{
    font-size: 1.8rem;
   color: white; 
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text p{
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
.video-container{
    width: 100%;
    height: auto;
}
.video{
    width: 100%;
    height: 40%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video iframe{
    border-radius: 10px;
}
.ending-container{
    width: 100%;
    height: auto;
}
.ending{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ending h1{
    font-size: 3rem;
    color: white;
    background-color: red;
    border-radius: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.ending p{
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.ending a{
    color: white;
}
.border{
    border: 1px solid white;
}
.footer-container{
    width: 100%;
    height: auto;
}
.footer{
    width: 100%;
    height: 20%;
}
.footer p{
    color: white;
    font-size: 1.5rem;
}
.footer a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}